.row1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.row1 iframe {
  width: 16.666%;
  height: 420px;
  margin-bottom: 20px;
}



@media screen and (max-width: 1300px) {
  .row1 iframe {
    width: calc(33.333% - 10px);
    height: 400px;
  }
}
